<a href="https://colab.research.google.com/github/LeoCboi/stock_market_analysis_by_python/blob/main/Day2_02_01_Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.2.1 기본 데이터 타입
Type(변수이름)

*   변수의 자료형을 반환하는 함수

파이썬의 기본 자료형


*   숫자(Numberic): 정수(Integer), 실수(Float)
*   불리언(Boolean): True, False
*   문자형(String)



# 2.2.1.1  숫자형(Numeric)


정수(Int), 실수(Float)

# 2.2.1.2 불리언(Boolean)
참(True) / 거짓(False)

In [4]:
a = 100 > 50
a

True

In [5]:
b = 100 < 50
b

False

In [6]:
c = 100 == 50 # 등호 두 개(==)는 좌측의 값과 우측의 값이 같은지 아닌지를 판단하는 조건식
c

False

In [7]:
type(c)

bool

# 2.2.1.3 문자형(String, str)

In [1]:
# 따옴표로 감싼 문자, 'Hello'와 "Hello"는 동일
a = 'Hello'
type(a)

str

In [2]:
# 따옴표로 감싼 숫자는 문자
b = '123'
type(b)

str

In [3]:
# 띄어쓰기가 포함된 문자열
c = "How are you?"
type(c)

str

여러줄로 어루어진 문자열은 따옴표 세 개를 연달아 이어서 선언해야함. 아래는 예시임.

In [8]:
x = "Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky."
x

SyntaxError: ignored

In [9]:
x = """Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky."""
x

'Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.'

문자열 안에 따옴표가 들어간다면, 작은 따옴표와 큰 따옴표를 번갈아 사용하여 구분이 가능함.

In [10]:
y = "He said, "I love you.""
y

SyntaxError: ignored

In [11]:
y = 'He said, "I love you."'
y

'He said, "I love you."'

In [12]:
y = "He said, \"I love you.\""
y

'He said, "I love you."'

In [13]:
print(y) #작은 따옴표 없이 가져오는 방법은 Print명령을 사용한다.

He said, "I love you."

# 2.2.2 데이터 타입의 형태 변환


*   int() : 정수형으로 변환
*   float() : 실수형으로 변환
*   bool() : 불리언형으로 변환
*   str() : 문자열로 변환환

In [14]:
temperature = '20'
humidity = '50'

temperature + humidity

'2050'

In [15]:
int(temperature) + int(humidity)

70

In [16]:
a = 0
b = 500
c = ''
d = '하하호호'

In [17]:
bool(a)  # 0은 거짓으로 인식

False

In [18]:
bool(b)  # 0보다 큰 숫자는 True로 인식식

True

In [19]:
bool(c)  # 공백은 False로 인식

False

In [20]:
bool(d)  # 문자는 True로

True

# 참고

In [21]:
# int() 형변환
x = int(100)
y = int(29.8)
z = int("50")

In [22]:
# float() 형변환
a = float(100)
b = float(29.8)
c = float("50")
d = float("3.14")

In [23]:
# float() 형변환
x = str("text")
y = str(100)
z = str(3.14)

In [24]:
x, y, z

('text', '100', '3.14')

In [25]:
print(x, y, z)

text 100 3.14

In [26]:
print(x, type(x))

text <class 'str'>